:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;

  button {
    margin-top: 25px;
  }
  h1 {
    margin-top: 15px;
  }
}
.roomInfoContainer {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  * {
    margin-right: 10px;
  }
}
.movieContainer {
  box-sizing: border-box;
  width: 70%;
  display: flex;
  flex-direction: row;
  img {
    width: 35%;
    margin-right: 7%;
  }
  p {
    max-width: 20vw;
  }
  h2 {
    width: 5vw;
    min-width: fit-content;
  }
}
.movieInfoContainer {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: baseline;
  margin-bottom: 15px;
}
.infoContainer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.detailContainer {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}
