:host {
  width: 100%;
}
.roomsContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  * {
    width: 25%;
    margin: 15px;
  }
}
